
.content-wrapper .row{
  padding-left:0!important;
  padding-right:0!important;
  margin-right: 0;
  margin-left: 0;

}

.dataTable {
    width:100%;
}

.add_spec {
  position: absolute;
  right: -20px;
  font-size: 20px;
}

.remove_spec {
  position: absolute;
  right: -20px;
  font-size: 20px;
  color: red;
}

.form_special {
  position:relative;
}

.dataTable td, .dataTable th {
    border: 1px solid darkgray;
    padding: 8px;
  }

  .dataRow {
      padding-top: 25px;
  }

 .dataTable tr:hover {background-color: #ddd;}

  .dataTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #007bff;
    color: white;
  }